@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.main{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 'cont1 cont2';
}

.cont1{
    grid-area: cont1;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3.5fr 4fr;
    justify-content: center;
    background-color: #1992d4;
    color: white;
    padding: 20px;
    padding: 0px 20px 20px 20px;
    font-size: 0.6rem;
    gap:10px;
}
li,a{
    list-style: none;
    text-decoration: none;
    color: white;
}
.search{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap:12vw;
    padding-bottom: 15px;
}
.profile{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    font-size: 0.7rem;
}
.announcements{
    grid-area: announce;
}
.trending{
    grid-area: trend;
}

.projects{
    display: grid;
    grid-template-columns: 4fr 1.3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'cards announce'
                'cards trend';
    
}
.flex{
    display: flex;
    gap: 10px;
}
.operation ul{
    display: flex;
    gap: 10px;
    font-size: 0.9rem;
}

.box{
    width: min(250px,23em);
    /* height: auto; */
    border-left: 6px solid #f0b429;
    padding: 18px;
    border-radius: 13px;
    background-color: white;
}
.text{
    font-size: 0.8rem;
    color: #656363;
    padding: 5px;
}
.cards h3{
    grid-area: heading;
}
.box-cont{
    grid-area: box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
    gap: 40px;
    padding-bottom: 25px;
}
.cards{
    grid-area: cards;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 4fr;
    grid-template-areas: 'heading heading'
                         'box box';
}

.logo{
    display: flex;
    gap: 8px;
    align-items: center;
}
.logo img{
    width: 40px;
    filter: invert();
}
/* color and padding */
.nav ul, .settings ul{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 23px;
    font-weight: bold;
}
.nav-icon{
    width: 20px;
    filter: invert();
}
.nav ul li,.settings ul li{
    display: flex;
    align-content: center;
    gap: 10px;
}
.cont2{
    grid-area: cont2;
    font-size: 0.9rem;
}

/* search */
.part1{
    display: grid;
    grid-template-columns: 1fr 15fr;
    align-items: center;
}
.part1 input{
    background-color: #e2e8f0;
    border: none;
    border-radius: 12px;
    padding: 4px;
    align-items: center;
    max-width: 500px;
}
.account{
    display: flex;
    align-items: center;
    gap: 20px;
}
.dp{
    border-radius: 18px;
}
.operation ul li{
    background-color: #1992d4;
    padding: 8px 25px 8px 25px;
    border-radius: 22px;
}
.top{
    padding: 15px 20px 5px 25px;
}
.below{
    padding: 15px 20px 60px 25px;
    background-color:  #e2e8f0;
}
.mini{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}
.ann-box{
    background: white;
    padding: 20px 30px 15px 30px;
    font-size: 0.7rem;
    border-radius: 5px;
}
.announce{
    margin-top: 10px;
}
.guideLines{
    color: #656363;
}
.trends{
    background: white;
    padding: 10px 30px 15px 30px;
    font-size: 0.7rem;
    border-radius: 5px;
}

/* designation */
.desg{
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 9px;
    align-items: center;
}
.users{
    width: 30px;
    border-radius: 20px;
}